[submodule "model-dnsim-kramer_IB_Figs"]
	path = model-dnsim-kramer_IB_Figs
	url = https://github.com/davestanley-cogrhythms/model-dnsim-kramer_IB_Figs.git
[submodule "DynaSim"]
	path = DynaSim
	url = https://github.com/DynaSim/DynaSim.git
